{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Library Management System{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="collapse navbar-collapse ">
            <ul class="nav navbar-nav" >
                <li class="changecolor" style="margin-left: 50px;margin-top: 5px">
                    <a style="color:white" class="navfontsetting" href="/"> 
                        Home <span class="sr-only">(current)</span>
                    </a>
                </li>
            </ul>               
        </div>
    </nav>
{% endblock %}

{% block content %}
<center>
<h1 style="margin-top: 200px">Data analyze</h1>
<div style="margin-top: 50px">
    <iframe width="600" height="450" src="https://datastudio.google.com/embed/reporting/1gOGhJNrI8Ap3WV6UQPST3OgqAt-13b96/page/D7jq" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
</center>
{% endblock %}


{% block styles %}
{{ super() }}
<style>
 .navfontsetting{
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 40px;
  }
  .changecolor:hover{
    background:blue
  }
</style>
{% endblock %}

{% block script %}
{{ super() }}
{% endblock %}

